:root {
  --color-success: #46b450;
  --color-warning: #ffba00;
  --color-notification: #eb2f64;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #1a1a1a;
  --color-grey-dark-2: #343a40;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  max-height: 100%;
  letter-spacing: 0.3px;
  color: var(--color-grey-dark-2);
}

.app {
  display: flex;
}

.cart {
  border: none;
  padding: 2rem;
  width: 40%;
  height: 38%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 6px 0px var(--color-grey-dark-1);
}

h3 {
  font-size: 1.6rem;
  font-family: inherit;
  padding: 0.6rem 1.2rem;
  color: var(--color-grey-light-1);
  background-color: var(--color-grey-dark-2);
  box-shadow: 0px 0px 2px 0px var(--color-grey-dark-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
h3 span {
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

/* Basic Button Styling */
button {
  background-color: var(--color-grey-light-4);
  color: var(--color-grey-dark-1);
  letter-spacing: 1px;
  border: none;
  padding: 0.6rem 0.8rem;
  font-size: inherit;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--color-grey-dark-1);
  color: var(--color-grey-light-1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-grey-light-4);
}

.sidebar {
  background-color: var(--color-grey-dark-2);
  width: 16%;
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
.sidebar-logo {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  padding: 1.6rem 0 0 3rem;
  text-align: center;
  color: var(--color-grey-light-2);
}
.sidebar-logo span {
  font-size: 3.2rem;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  background-color: --color-grey-dark-3;
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-grey-light-4);
  transform: scaleY(0);
  transition: transform 0.1s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s;
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  width: 95%;
}
.side-nav__link:link, .side-nav__link:visited {
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  font-weight: 700;
  z-index: 10;
  transition: color 0.6s ease;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.side-nav__item--active .side-nav__link {
  color: var(--color-grey-dark-1);
}
.side-nav__link:hover {
  color: var(--color-grey-dark-1);
}

.sidebar-account {
  text-align: center;
  background-color: var(--color-grey-dark-3);
  padding: 1.4rem 0 1.4rem 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.sidebar-account a {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sidebar-account a span {
  color: var(--color-grey-dark-1);
  transition: 0.2s ease;
}
.sidebar-account:hover span {
  translate: 3px;
}

.header {
  width: 84%;
  position: absolute;
  right: 0;
  padding: 0rem 2rem;
  font-size: 1.8rem;
  height: 7rem;
  border-bottom: 1px dashed var(--color-grey-light-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  color: inherit;
  letter-spacing: 0.8px;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3.25rem;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
}
.search__input::-webkit-input-placeholder {
  font-weight: 600;
  color: var(--color-grey-dark-2);
}
.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__logo {
  height: 2rem;
  width: 14rem;
}
.user-nav__notification {
  font-size: 0.8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-notification);
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.user-nav__user-info {
  display: flex;
  text-align: left;
  flex-direction: column;
  font-size: 1rem;
}
.user-nav__user-name {
  font-weight: 700;
  letter-spacing: 0.8px;
}

.clientsContainer {
  width: 100%;
  margin-top: 8rem;
  display: flex;
  padding-left: 3rem;
}
.clientsContainer .clientinfoLink {
  border-bottom: 1px solid var(--color-grey-dark-2);
  cursor: pointer;
  color: var(--color-grey-dark-2);
  transition: 0.1s ease;
  font-weight: 400;
}
.clientsContainer .clientinfoLink:hover {
  color: var(--color-notification);
  border-bottom: none;
}

.searchItem input {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  background-color: var(--color-grey-light-2);
  border: none;
  outline: none;
  padding: 1.2rem 2rem;
  transition: 0.3s ease;
  border-bottom: 1px solid transparent;
}
.searchItem input:active,
.searchItem input:focus {
  border-bottom: 1px solid var(--color-grey-dark-3);
}

section table {
  width: 100%;
  font-weight: 600;
  box-shadow: 0px 0px 2px 0px var(--color-grey-dark-2);
  border-collapse: collapse;
}
section table th,
section table td {
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--color-grey-light-4);
  text-align: left;
}
section table th {
  background-color: var(--color-grey-light-4);
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
}
section table tr:nth-child(even) {
  background-color: #f9f9f9;
}
section table td {
  word-wrap: break-word;
}

.kunden-info,
.vertraege,
.inkasso {
  padding: 0 1rem;
  border-radius: 5px;
}

.inkasso table tr td {
  color: red;
}

.activities-container {
  min-width: 25%;
  right: 0.2rem;
  position: absolute;
}
.activities-container .inner {
  height: 70vh;
  overflow-y: scroll;
}
.activities-container .inner::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  cursor: pointer;
}
.activities-container .inner::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-dark-3);
  border-radius: 12px;
}
.activities-container .inner::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-grey-dark-2);
}
.activities-container .inner::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

.activity {
  font-size: 1.2rem;
}

[data-module=activities] {
  margin-top: 1rem;
  padding-left: 0;
}
[data-module=activities] li {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 3rem;
  font-weight: bold;
}
[data-module=activities] li::before {
  content: ".";
  font-size: 0;
  display: inline-block;
  border-radius: 16px;
  height: 20px;
  width: 20px;
  background-color: #999999;
  position: absolute;
  left: 0.6rem;
}
[data-module=activities] li.danger:before {
  background-color: var(--color-notification);
}
[data-module=activities] li.success:before {
  background-color: var(--color-success);
}
[data-module=activities] li.warning:before {
  background-color: var(--color-warning);
}
[data-module=activities] li.close:before {
  background-color: var(--color-grey-dark-3);
}
[data-module=activities] li a {
  font-weight: 300;
}
[data-module=activities] li li {
  font-weight: 600;
  padding: 0 0.5rem;
  border-left: solid 1px #242424;
}
[data-module=activities] li li:first-child {
  padding-left: 0;
  border-left: none;
}
[data-module=activities] li li:first-child:before {
  content: "\ea01";
  font-family: "icon-general", sans-serif;
  font-size: 1rem;
}
[data-module=activities] li li::before {
  display: none;
}
[data-module=activities] ul {
  margin-bottom: 1rem;
  margin-left: -1.5rem;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  border-left: solid 2px #cdcdcd;
  display: flex;
  list-style: none;
}
[data-module=activities] li:last-child ul {
  border-left: 0;
}
[data-module=activities] li [data-icon] {
  margin-right: 0.25rem;
}
[data-module=activities] li.components span {
  background-color: #cdcdcd;
  border-radius: 3px;
  padding: 0 0.5rem;
}
