.header {
  width: 84%; //
  position: absolute; //
  right: 0; //
  padding: 0rem 2rem;
  font-size: 1.8rem;
  height: 7rem;
  border-bottom: 1px dashed var(--color-grey-light-4);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Header Searchbar
.search {
  flex: 0 0 30%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 600;
    color: inherit;
    letter-spacing: 0.8px;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 600;
      color: var(--color-grey-dark-2);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }
}

// User Menu
.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__logo {
    height: 2rem;
    width: 14rem;
  }

  // Header Notification Symbol
  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-notification);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__user-info {
    display: flex;
    text-align: left;
    flex-direction: column;
    font-size: 1rem;
  }

  &__user-name {
    font-weight: 700;
    letter-spacing: 0.8px;
  }
}
